html{
	font-family: tahoma, verdana, sans-serif, arial, helvetica; 
	font-size:  62.5%;  
}

body{ 
	font-size:  1.6rem;
	background-color: rgb(153, 153, 153);
}

.addnote{
	clear: both;
	width: 100%;
}

.addbutton {
	margin: 10px;
	width: 200px;
	height: 40px;
	background-color: rgb(111, 60, 60);
	margin: 10px auto;
	display: block;
	border-radius: 10px;
	border: none;
	font-size: 1.6rem;

}


.addbutton:focus{
	outline: none;
	box-shadow: none
}

.notes{
	width: 80%;
	margin: 0 auto;  
}

.notecontainer{
	margin: 10px;
	float: left;
}
		
.noteheader{
	width: 20rem;
	height: 20px;
	background-color: #696969;
	padding: 10px;
	margin: 0 10px;
}

.icon{
	float: right;
}

.edit{
	margin: 0 5px;
}

.delete{
	margin: 0 5px;
}

.notebody{
	width: 20rem;
	height: 24rem;
	margin: 0 10px 20px 10px;
}

.notediv{
	width: 100%;
	height: 100%;
	font-size: 1.6rem;
	padding: 10px;
	text-align: left;
	background-color: #bbbbbb;
}

.notearea{
	width: 100%;
	height: 100%;
	font-size: 1.6rem;
	padding: 10px;
	text-align: left;
	resize: none;   
}

#notediv1{
	background-color: #ff0000;
}

.hidden{
	display: none;
}